.bb {
    text-decoration: none;
    font-size: 20px;
    color: navy;
    text-align: center;
  }
  .ba{
    text-decoration: none;
    font-size: 40px;
    color: navy;
  }
  .ba:hover {
    color: #9ec85d;
  }
  .bb:hover {
    color: #9ec85d;
  }
  .bd {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }

  .bd:hover {
    color: #9ec85d;
  }
  ul#menu li {
    display: inline;
    padding: 15px;
  }
  ul {
    list-style: none;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }
